**/__pycache__
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vscode
**/.idea
**/node_modules
**/compose*
**/Dockerfile*
README.md

# Virtual environments and caches
**/.venv
**/venv
**/*.pyc
**/*.pyo
**/.coverage
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache

# Data volumes
**/data
